.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsla(270, 20%, 96%, .6);
  height: 100vh;
  width: 100%;
}
.ilustration{
  position: relative;
}
.background-figure{
  border-radius:  0 0 300px 300px;
  height: 570px;
  width: 480px;
  margin-left: -80px;
  background-image: linear-gradient(to right top, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}
.ilustration__cellphone{
  position: absolute;
  width: 230px;
  height: 440px;
  background-color: white;
  top: 100px;
  left: 340px;
  border-radius: 25px;
}
.app-description{
  position: relative;
  overflow: hidden;
}
.background-figure--inverted-grey{
  background-image: none;
  position: absolute;
  background-color: hsla(270, 20%, 96%);
  transform: rotateZ(180deg);
  bottom: 0;
  right: -180px;
}