body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --main-color-1: hsl(264, 100%, 61%);
  --main-color-2: hsl(293, 100%, 63%);
  --secondary-color: hsl(270, 20%, 96%);
  /* fonts */
  --main-font: 'Rubik', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.borde{
  border: 1px solid black;
}
@media only screen and (max-width: 325px){
  body{
    font-size: 13px;
  }
}